body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

html {
    scrollbar-width: thin;
    scrollbar-color: black white;
}

.section {
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out , transform 0.5s ease-in-out;
}

.section.visible , .imp-langs > div.visible {
    opacity: 1;
    transform: translateY(0);
}

.section > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.section > img {
    width: 30%;
    object-fit: cover;
    mix-blend-mode: multiply;
    filter: brightness(1);
    filter: drop-shadow(0 0 10px black);
    transition: filter 0.5s ease-in-out;
}

.wraper-of-p > p {
    color: black;
    text-shadow: 0 0 6px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    text-align: center;
    width: 70%;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: 0.5s ease-in-out;
}

.section > div > .head {
    font-size: 30px;
}

.section > div > .description {
    font-size: 20px;
}

.imp-langs {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.imp-langs > div {
    --bgc: #1162ad98;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: calc(100% / 4);
    border-radius: 30px;
    margin: 30px;
    height: 500px;
    box-shadow: 0 0 10px var(--bgc);
    background-color: var(--bgc);
    backdrop-filter: blur(50px);
    transition: opacity 0.5s ease-in-out , transform 0.5s ease-in-out;
}

.imp-langs > div > div {
    width: 85%;
}

.imp-langs > div > div > p {
    text-align: center;
    color: white;
    font-size: 17px;
    text-shadow: 0 0 5px white;
    font-weight: bolder;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.imp-langs > div > p {
    font-size: 60px;
    color: white;
    text-shadow: 0 0 5px white;
}

@media (max-width: 710px) {
    .section {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
    }

    .section > div > p {
        width: 80vw;
    }

    .section > div > .head {
        font-size: 19px;
    }

    .section > div > .description {
        font-size: 15px;
    }
}